body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(180deg, rgb(39, 212, 212), rgb(129, 22, 129));
  background-repeat: no-repeat; 
}

a {
  color: #00B7FF;
}

.page-header {
  background: rgba(0, 47, 255, 0.993);
  color: white;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

#page-header-icon {
  /*
  width: 80%;
  height: auto;
  */
  width: 200px;
  height: auto;
  padding: 10px; 
}

.nav-cluster {
  display: grid;
  grid-template-areas: 
    "title title title"
    "home input output";
  justify-items: center;
  align-items: center;
  padding: 5px;
}

#page-header-text {
  grid-area: title;
  font-size: 14px;
}

#home-button {
  grid-area: home;
  margin: 5px;
}

#test-input-button {
  grid-area: input;
  margin: 5px;
}

#test-output-button {
  grid-area: output;
  margin: 5px;
}

.section-header {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px 5px 0px 0px;
  margin: 10px 0px 0px 0px;
  padding: 5px;
}

.section-header-filter-buttons {
  margin: 5px 5px 0px 5px;
}

.section-header-text {
  margin: 0px 0px 0px 10px;
}

.people-section {
  margin: 10px;
}

.people-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 320px));
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0px 0px 5px 5px;
}

.person-card {
  display: grid;
  min-width: 100px;
  background:rgb(230, 235, 233);
  grid-template-rows: repeat(1fr, 4);
  grid-template-columns: repeat(1fr, 4);
  border-radius: 5px;
  box-shadow: 5px 3px 50px;
  margin: 10px 10px 10px 10px;
  padding: 5px;

  grid-template-areas: 
      "photo photo name name"
      "photo photo role role"
      "skill skill skill skill"
      "campaign campaign campaign campaign";
}

.profile-pic {
  /*background: tan;*/
  object-fit: cover;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0px 0px 5px 0px;
  grid-area: photo;
}

.person-name {
 /*background:rgba(39, 212, 212, 0.2);*/
  grid-area: name;
  font-size: 16px;
  justify-self: left;
  align-self: center;
  margin: 3px 3px 3px 3px;
}

.person-role {
  /*background: rgba(39, 212, 212, 0.3);*/
  grid-area: role;
  font-size: 12px;
  margin: 3px 3px 10px 3px;
  align-self: center;
}

.person-skills {
  background-color: rgba(255, 255, 255, 0.5);
  grid-area: skill;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill, minmax(50px, 150px));
}


.person-skill {
  background: rgba(253, 245, 230, 0.8);
  width: 100px;
  margin: 5px;
}

.person-campaigns {
  background: rgba(255, 255, 255, 0.5);
  grid-area: campaign;
  justify-items: center;
}

.person-campaign {
  background: rgba(253, 245, 230, 0.8);
  width: 100px;
  margin: 5px;
}

.projects-section {
  margin: 10px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 320px));
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0px 0px 5px 5px;
}

.project-card {
  display: grid;
  /*
  grid-template-rows: 300px fit-content(100%) 300px;
  */
}
