
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
        h1 Welcome to the #{title} page
        each val in peopleDatabase
          h2 #{val.name}