// Not using this

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script.
      function goToHomePage() {
        window.location.href = '/';
      }
      function goToTestInputPage() {
        window.location.href = 'dbtestinput';
      }
      function goToTestOutputPage() {
        window.location.href = 'dbtestoutput';
      }

    header(class="page-header")
      input(type="image" id="page-header-icon" src="images/bluebonnet-icon-2.webp")
      div(class="nav-cluster")
        h1(id="page-header-text") #{title}
        button(id="home-button" onclick='goToHomePage()') Home
        button(id="test-input-button" onclick='goToTestInputPage();') Test Input 
        button(id="test-output-button" onclick='goToTestOutputPage()') Test Output

    section(class="form-input")
      form(id="formAddToDB" name="addToDB" method="post" action="/addToDB")
        input(id="inputUserName" type="text" placeholder="username" name="username")
        input(id="inputUserRole" type="text" placeholder="role" name="userrole")
        // to chance below line to actual image URL or file
        input(id="inputUserImageURL" type="text" placeholder="images/default-pro-pic.jpg" name="imageURL")
        input(id="inputSkill1" type="text" placeholder="skill-1" name="userSkill1")
        input(id="inputSkill2" type="text" placeholder="skill-2" name="userSkill2")
        input(id="inputCampaign" type="text" placeholder="placeholder-campaign" name="usercampaign")
        button(id="btnSubmit" type="submit") Submit
