// Current solution is a bit of a workaround -- temporary solution
// to use a plain html file instead of a Jade template file
// (for ease of use/understanding for others who may modify
// this codebase)

include index.html